:root {
    --accent-color: #109CF1;
    --lightest-gray: rgb(244, 244, 244);
    --light-gray: rgb(144, 144, 144);
    --medium-gray: rgb(96, 96, 96);
    --dark-gray: rgb(13, 13, 13);
    --header-height: 5vh;
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;

    width: 75px;
    height: 100vh;

    position: sticky;
    left: 0;

    border-right: 1px solid var(--light-gray);
    padding-top: 1rem;

    overflow: hidden;
    flex-shrink: 0;
}

.sidebar .hidden-sidebar {
    opacity: 0;
    width: 0;
}

.sidebar.open .hidden-sidebar {
    width: 100%;
    height: auto;

    opacity: 1;
}

.sidebar .top-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .channel-logo {
    display: block;

    width: 30px;
    height: 30px;
}

.sidebar.open .channel-logo {
    width: 90px;
    height: 90px;
}

.sidebar .channel-logo > img {
    width: 100%;
    height: 100%;
}

.middle-sidebar {
    flex-grow: 1;

    margin: 1rem 0;

    overflow-y: auto;
    overflow-x: hidden;

    color: #334D6E;
}

.middle-sidebar, .bottom-sidebar {
    width: 100%;
}

.sidebar-container {
    display: flex;

    width: 220px;
    background-color: white;
}

.content {
    margin: 1rem;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 0;
}

.sidebar.open .sidebar-link {
    justify-content: flex-start;
}

.sidebar-link {
    fill: #90A0B7;
}

.sidebar-icon {
    width: 25px;
    height: 25px;

    flex-shrink: 0;
}

.sidebar-link {
    display: flex;
    align-items: center;

    width: 100%;

    color: var(--light-gray);

    text-decoration: none;

    padding: .5rem 0 .5rem 25px;
}

.sidebar-list .hidden-sidebar {
    margin-left: 1.5rem;
    white-space: nowrap;
}

.sidebar-list-item {
    position: relative;

    width: 100%;

    fill: var(--light-gray);
}

.sidebar-list-item.active {
    fill: var(--accent-color);
    background-color: var(--lightest-gray);
}

.sidebar-list-item:hover {
    background-color: var(--lightest-gray);
}

.sidebar-list-item.active::before {
    content: "";
    background-color: var(--accent-color);

    height: 100%;
    width: 3px;

    position: absolute;
    left: 0;
}

.sidebar.open {
    width: 220px;
}

.your-channel {
    color: var(--dark-gray);

    font-size: .75rem;
    font-weight: bold;

    margin-bottom: .15rem;
    margin-top: .5rem;
}

.channel-name {
    color: var(--medium-gray);
    font-size: .75rem;
}

.sidebar .top-sidebar {
    height: 30px;
    transition: height var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .top-sidebar {
    height: 125px;
}

.sidebar .top-sidebar .hidden-sidebar {
    text-align: center;
    width: 100%;
}